.programs{
    color: white;
    text-align: center;
    width: 500;
    height: 400;
    border: 4px solid red;
    border-radius: 10px 10px;
    margin: auto;
    width: 70%;
}
.description{
    margin: auto;
    width: 70%;
    
    padding: 20px;
    font-size: 20px;
    
   
   
   
}
input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.name{
    
     font-size: 3rem;
     font-family:Impact, fantasy;
     font-weight: 100;
     color: rgb(235, 205, 10);
     
}
.program-type{
    font-size: 3rem;
     font-family:Impact, fantasy;
     font-weight: 100;
     color: rgb(218, 96, 3);
}
.coment-list{
    color: rgb(4, 4, 4);
    text-align: left;
    width: 600;
    height: 600;
    border: 2px solid rgb(4, 4, 4);
    border-radius: 5px 5px;
    margin: auto;
    width: 70%;
    background-color: white;
}
.delete-diet{
    padding: 10px;
  background-color: #f15e0e;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.name-coment{
    color: rgb(4, 4, 4);
    font-size: 20px;
    background-color: #ee780a;
    font-family:'Times New Roman", Times, serif';
   
}.int{
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border: 4px solid rgb(213, 14, 196);
    border-radius: 10px 10px;
   
}
.coment-btn{
    background-color: #ee780a;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-size: 20px;
  }
  .date-time{
    font-size: 8px;
    color: purple;
}
img {
    border-radius: 50%;
  }
  .like-button{
    padding: 10px;
    background-color: #047999;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
   
  